:root{
    --varible-name: value;

}
select {
    property:var(--varible-name)
}
;:root{
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
   font-style: italic;
   color:lightgray;
   margin: .5rem, 1rem;
   line-height: 2rem;

}
html{
    display: flex;
    background-color: silver;
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: turquoise;
}
a:hover {
    color: blue;
}
body{
    font-variant: normal;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: black;
  }
  nav h1{
    color: lightgray;
  }
  nav a {
    color:lightgrey;
  }
  nav a:hover{
    color: blue;
    border-bottom: 2px;
  }
  nav ul{
    display: flex;
    gap: 2rem;
  }
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: slateblue;
    flex: 10%;
    display: flex;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.861);
}
img{
    width: 800px;
    height: 350px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: fill;
    border-radius: 8px;
}
#object-position{

    
    
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.861);
}
.image1{
    width: 800px;
    height: 350px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: fill;
    border-radius: 8px;
}
.image2{
    width: 200px;
    height: 175px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: fill;
    border-radius: 8px;
}
.image3{
    width: 200px;
    height: 175px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: fill;
    border-radius: 8px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.861);
}